body {
    background-color: rgb(48, 48, 48);
}

.titulo {
    padding-bottom: -50%;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center!IMPORTANT;
}

.b {
    color: #fcfcfc;
}

.a {
    color: #dbcc45;
}

.video {
    text-align: center;
    border-color: lightcyan;
}

.icon {
    text-align: center!IMPORTANT;
    padding-top: 3%!IMPORTANT;
    font-size: 18px!IMPORTANT;
    font-family: 'Poppins', sans-serif!IMPORTANT;
    color: #fcfcfc!IMPORTANT;
}
